body {
  background-color: #f2f2f2;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
  color: #333;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

.btn-theme.btn-lg {
  background-color: #74c9be;
}

.centered {
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* ================== BASIC CONFIGURATION ================== */

/* margin top & Bottom */
.mt {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Padding top & bottom */
.pt {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Description Styling / Used in portfolio & Blog images footnotes */
.desc p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;
}

.desc p > i {
  font-size: 16px;
  color: #979797;
}

.desc p.lead {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: -15px;
}

.desc p.time {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0px;
  color: #979797;
  text-align: right;
}

.desc p.time > i {
  font-size: 12px;
}

/* Dashed Separator */

hr-d {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dashed #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Button Call To Action */
.btn-cta {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.btn-cta:hover,
.btn-cta:focus,
.btn-cta:active,
.btn-cta.active,
.open .dropdown-toggle.btn-cta {
  color: #2f2f2f;
  background-color: #ffffff;
  border-color: #2f2f2f;
}

/* Button Theme */
.btn-theme {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #2f2f2f;
  background-color: #ffffff;
  border-color: #2f2f2f;
}

/* ================== MAIN WRAP SECTIONS ================== */

#headerwrap {
  background: url(../img/StartrailMoonPalmTrees-Monsaraz-net.jpg) no-repeat
    center top;
  margin-top: 0px;
  padding-top: 50px;
  background-attachment: relative;
  background-position: center center;
  min-height: 450px;
  width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 60px;
  color: white;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 1px;
  /* visibility: hidden; */
}

/* Footer Wrap */

#grey {
  margin-top: 0px;
  background-color: #f7f7f7;
  min-height: 300px;
  width: 100%;
}

#black {
  margin-top: 0px;
  background-color: #2f2f2f;
  min-height: 300px;
  width: 100%;
}

#black h3 {
  color: white;
}

#black p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

/* ================== CALL TO ACTION WRAP SECTIONS & HELPERS ================== */
#cta01 {
  background: url(../img/cta01.jpg) no-repeat center top;
  margin-top: 0px;
  padding-top: 100px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 350px;
  width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cta01 h2 {
  color: white;
  font-weight: 700;
  margin-bottom: 25px;
}
